main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65vh;
    background-color: var(--primary-four-color);
    .main-section{
        z-index: 1;
        background-color: white;
        width: 90%;
        max-width: 350px;
        min-height: 75vh;
        padding: 32px 24px;
        margin-bottom: 4vh;
        border-radius: .8em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        h1{
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 8px;
            color: var(--primary-one-color);
        }
        h2{
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 24px;
            color: var(--neutral-one-color);
        }
        .section-info{
            label{
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-size: .7rem;
                font-weight: 600;
                margin: 2.5px;
                padding: 0 4px;
                color: var(--primary-one-color);
                .required{
                    color: var(--alert-color);
                    text-shadow: 0 0 1px var(--neutral-one-color);
                }
                .name{
                    display: none;
                }
                .email{
                    display: none;
                }
                .phone{
                    display: none;
                }
            }
            input{
                width: 100%;
                height: 8vh;
                padding: 10px;
                font-size: .9rem;
                font-weight: 500;
                border-radius: .2em;
                margin-bottom: 16px;
                border: 1px solid var(--neutral-second-color);
            }
        }
        .section-select-plan{
            display: flex;
            flex-direction: column;
            gap: 8px;
            article{
                display: flex;
                align-items: center;
                gap: 12px;
                min-height: 100px;
                padding: 16px 12px;
                cursor: pointer;
                border-radius: .5em;
                border: 1px solid var(--neutral-second-color);
                img{
                    width: 50px;
                    height: 50px;
                }
                div{
                    width: 60vw;
                    h3{
                        height: 20px;
                        font-size: 1rem;
                        font-weight: 400;
                        letter-spacing: .2px;
                        color: var(--primary-one-color);
                        text-shadow: 0 0 .5px var(--primary-one-color);
                    }
                    p{
                        font-size: .9rem;
                        color: var(--neutral-one-color);
                    }
                    span{
                        font-size: .8rem;
                        font-weight: 400;
                        color: var(--primary-one-color);
                    }
                    .plan-span-arcade{
                        display: none;
                    }
                    .plan-span-advanced{
                        display: none;
                    }
                    .plan-span-pro{
                        display: none;
                    }
                }
            }
            .button{
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0 32px;
                margin-top: 16px;
                p{
                    font-size: .8rem;
                    color: var(--primary-one-color);
                }
                .switch-button{
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 20px;
                    margin: 0 auto;
                    input {
                        display: none;
                    }
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: var(--primary-one-color);
                        border-radius: 34px;
                        transition: .4s;
                    }
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 12px;
                        width: 12px;
                        left: 4px;
                        bottom: 4px;
                        background-color: var(--white);
                        border-radius: 50%;
                        transition: .4s;
                    }
                    input:checked + .slider:before {
                        transform: translateX(20px);
                    }
                }   
            }
        }
        .section-add-ons{
            display: flex;
            flex-direction: column;
            gap: 12px;
            article{
                display: flex;
                align-items: center;
                gap: 8px;
                width: 100%;
                height: 60px;
                padding: 12px;
                border-radius: 1em;
                box-shadow: 0 0 5px var(--neutral-second-color);
                border: 1px solid var(--neutral-one-color);
                input[type="checkbox"]{
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 16px;
                    color: #fff;
                    cursor: pointer;
                    border-radius: 1em;
                    background-color: var(--primary-second-color);
                }
                div{
                    width: 75%;
                    h3{
                        font-size: .9rem;
                        font-weight: 600;
                        margin-bottom: 2px;
                        color: var(--primary-one-color);
                    }
                    span{
                        font-size: .8rem;
                        font-weight: 500;
                        color: var(--neutral-one-color);
                    }
                }
                p{
                    font-size: .8rem;
                    font-weight: 500;
                    color: var(--primary-second-color);
                }
            }
        }
        .section-finishing{
            display: block;
            .info-plan{
                padding: 12px;
                border-radius: .5em .5em 0 0;
                background-color: var(--primary-four-color);
                h3{
                    font-size: .9rem;
                    margin-bottom: 2px;
                    color: var(--primary-one-color);
                }
                div{
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 8px;
                    border-bottom: 1px solid var(--neutral-second-color);
                    a{
                        font-size: .9rem;
                        color: var(--neutral-one-color);
                    }
                    p{
                        font-size: .9rem;
                        font-weight: 600;
                        color: var(--primary-one-color);
                    }
                }
            }
            .info-adds{
                display: flex;
                flex-direction: column;
                gap: 8px;
                height: 20vh;
                padding: 6px 12px;
                margin-bottom: 12px;
                border-radius: 0 0 .5em .5em;
                background-color: var(--primary-four-color);
                .add{
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-size: .9rem;
                        font-weight: 500;
                        color: var(--neutral-one-color);
                    }
                    span{
                        font-size: .9rem;
                        font-weight: 500;
                        color: var(--primary-one-color);
                    }
                }
            }
            .total{
                display: flex;
                justify-content: space-between;
                padding: 12px;
                p{
                    font-size: 1rem;
                    font-weight: 500;
                    text-decoration: underline;
                    color: var(--neutral-one-color);
                }
                span{
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--primary-one-color);
                }
            }
        }
        .thanks{
            text-align: center;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6px;
            padding-top: 15vh;
            img{
                width: 50px;
                height: 50px;
                margin-bottom: 12px;
            }
            h3{
                font-size: 1.2rem;
                font-weight: 700;
                color: var(--primary-one-color);
            }
            p{
                font-size: .9rem;
                font-weight: 500;
                line-height: 1.5em;
                color: var(--neutral-one-color);
            }
        }
    } 
    .modal{
        z-index: 1;
        position: fixed;
        top: calc(50% - 60px);
        left: calc(50% - 70px);
        display: none;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 60px;
        border-radius: 1em 0;
        box-shadow: -2px 2px 5px var(--dark-color);
        background-color: var(--alert-color);
        border: 1px solid var(--alert-color);
        h2{
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--white);
        }
    }
}
